h1 {
  color: blue;
}

body {
  background-image: url("./R.jpeg");
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

article {
    background-color: aqua;
    border-radius: 0.25rem;
    margin: 0.5rem;
    flex: 1;
}

article:nth-of-type(3) {
    flex: 2;
}

h1 {
    background-color: orchid;
    border-radius: 0.25rem;
    text-align: center;
}


